<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% t site_title %}{% if page.title %} · {% t page.title %}{% endif %}</title>
	{% if page.layout == 'default' %}
	<meta name="description" content="{% t app_description %}">
	{% endif %}

	<link rel="shortcut icon" href="{{ site.data.app_info.app_icon | relative_url }}">

	<!-- Smart App Banner -->
	{% if site.data.app_info.enable_smart_app_banner %}
	<meta name="apple-itunes-app" content="app-id={{ site.data.app_info.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/materialdesignicons/css/materialdesignicons.min.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/roboto/css/roboto.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">

	{% for lang in site.languages %}
	{% if site.lang != lang %}
	{% if lang == "en" %}
	<link rel="alternate" hreflang="{{ lang }}" href="{{ site.url | append: site.baseurl_root | append: page.url }}"/>
	{% else %}
	<link rel="alternate" hreflang="{{ lang }}" href="{{ site.url | append: site.baseurl_root | append: '/' | append: lang | append: page.url }}"/>
	{% endif %}
	{% endif %}
	{% endfor %}
	
	<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">
</head>