{% assign found = false %}
{% comment %} First try to find a language-specific screenshot/video{% endcomment %}
{% for file in site.static_files %}
    {% assign last = file.basename | split: "_" | last %}
    {% if file.path contains 'assets/screenshot/' and last == site.lang %}
        <img class="iphoneScreen" src="{{ file.path | relative_url }}" alt="">
        {% assign found = true %}
        {% break %}
    {% elsif file.path contains 'assets/videos/' and last == site.lang %}
        {% assign found = true %}
        <div class="videoContainer">
            <video class="screenvideo" autoplay="autoplay" controls="controls">
                {% if file.extname == ".mov" or file.extname == ".mp4" %}
                    <source src="{{ file.path | relative_url }}" type="video/mp4">
                {% elsif file.extname == ".ogg" %}
                    <source src="{{ file.path | relative_url }}" type="video/ogg">
                {% elsif file.extname == ".webm" %}
                    <source src="{{ file.path | relative_url }}" type="video/webm">
                {% endif %}
            </video>
        </div>
        {% break %}
    {% endif %}
{% endfor %}
{% if found != true %}
    {% comment %} Now try to find any screenshot/video at all{% endcomment %}
    {% for file in site.static_files %}
        {% if file.path contains 'assets/screenshot/' %}
            <img class="iphoneScreen" src="{{ file.path | relative_url }}" alt="">
            {% break %}
        {% elsif file.path contains 'assets/videos/' %}
            {% assign found = true %}
            <div class="videoContainer">
                <video class="screenvideo" autoplay="autoplay" controls="controls">
                    {% if file.extname == ".mov" or file.extname == ".mp4" %}
                        <source src="{{ file.path | relative_url }}" type="video/mp4">
                    {% elsif file.extname == ".ogg" %}
                        <source src="{{ file.path | relative_url }}" type="video/ogg">
                    {% elsif file.extname == ".webm" %}
                        <source src="{{ file.path | relative_url }}" type="video/webm">
                    {% endif %}
                </video>
            </div>
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}