<div class="sponsors">
    <h2>{% t sponsors %}</h2>

    <div class="sponsor">
        <a href="https://www.jawg.io"><img
                src="https://www.jawg.io/static/Blue@10x-9cdc4596e4e59acbd9ead55e9c28613e.png" alt="JawgMaps"
                height="58"/></a>
        <p>{% t sponsor_jawg %}</p>
    </div>

    <div class="sponsor">
        <a href="https://chargeprice.app"><img
                src="{{ '/assets/powered_by_chargeprice.svg' | relative_url }}"
                alt="Powered by Chargeprice" height="58"/></a>
        <p>{% t sponsor_chargeprice %}</p>
    </div>

    <div class="sponsor">
        <a href="https://fronyx.io/"><img
                src="{{ '/assets/powered_by_fronyx.svg' | relative_url }}"
                alt="Powered by Fronyx" height="58"/></a>
        <p>{% t sponsor_fronyx %}</p>
    </div>

</div>